<%- include('partials/header') %>
    <h1>Ask Me Yourself!</h1>
    <form action="/questions/new" method="post" class="submitForm"><textarea name="question" style="height:150px;width:500px;font-size:20pt;" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"  placeholder="ask here!" required></textarea>
      <button type="submit"><i class="fas fa-search"></i></button>
    </form>
     
    <h2>List of Questions</h2>
    <ul class="qustions">
      <% questions.forEach(function(question){ %>
        <li>
          <a href="/questions/<%= question._id %>"><%= question.question %></a>
          views: <%= question.popularity %>
          <% if(user && user.role == "admin"){ %>
          <form action="/questions/<%= question._id %>" method="post">
              <button type="submit"><i class="fas fa-trash-alt"></i></button>
          </form>
          <% } %>
        </li>
        
      <% }) %>
    </ul>
<%- include('partials/footer') %>
