<%- include('partials/header') %>
<%let error = errorMessage%>
    <h1>Ask Me Yourself!</h1>
    <h2>Question : <%= question.question %></h2>
    <% if(user && String(user._id) == String(question.username._id)){ %>
      <form action="/questions/<%= question._id %>/edit" method="post">
        <button type="submit"><i class="fas fa-edit"></i></button>
      </form>
      <form action="/questions/<%= question._id %>/delete" method="post">
        <button type="submit"><i class="fas fa-trash-alt"></i></button>
      </form>
    <% } %>
    <p>Popularity : <%= question.popularity %></p>
    <p>Asked By : <%= question.username.name %></p>
    <h3>Answers!</h3>
    <% if(question.answers.length >0) { %>
      <table>
      <% question.answers.forEach(function(answer){ %>
        <tr>
        <th class="answers">Answer : <%= answer.answer%></th>
        <th class="ratings"> Rating : 
          <% let averageRating=0; %>
          <% answer.ratings.forEach(function(rating){ %>
            <% averageRating += rating.rating %>
          <%})%>
          <%averageRating = averageRating/answer.ratings.length; %>
          <% averageRating = Math.round(averageRating * 100)/100; %>
          <% if(averageRating > 2.5) { %>
            <span style="color:blue">
          <% } else {%>
            <span style="color:red">
          <% }%> 
          <%= averageRating %>
          </span>
        </th>
        <th class="usernames">User : <%= answer.username.name%></th>
        <th class="rateStars">Rate the answer!:
          <form class="stars" action="/questions/<%=question._id%>/answers/<%=answer._id%>/ratings" method="post">
            <button type="submit" name="rating" value="5">&#9733;</button>
            <button type="submit" name="rating" value="4">&#9733;</button>
            <button type="submit" name="rating" value="3">&#9733;</button>
            <button type="submit" name="rating" value="2">&#9733;</button>
            <button type="submit" name="rating" value="1">&#9733;</button>
          </form>
        </th>
        <% if(user && String(user._id) == String(answer.username._id)){ %>
        <th class="icons">
          <form action="/questions/<%= question._id %>/answers/<%= answer._id%>/edit" method="post">
            <button type="submit"><i class="fas fa-edit"></i></button>
          </form>
          <form action="/questions/<%= question._id %>/answers/<%= answer._id%>/delete" method="post">
            <button type="submit"><i class="fas fa-trash-alt"></i></button>
          </form>
        </th>
        <% } %>
      </tr>
      <% })%>
    </table>
    <% }%>
    <form action="/questions/<%=question._id%>/answers/new" method="post">
      <textarea name="answer" style="height:150px;width:500px;font-size:20pt;" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"  placeholder="ask here!" required></textarea>
      <input type="submit">
    </form>
    <% if(locals.message){ %>
      <div class="alert alert-success" role="alert">
          <strong><%=message.success%></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <%} %>
    <script>
      let error = "<%=error%>";
      if(error) {
        alert(error);
      }
    </script>
<%- include('partials/footer') %>